HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
*/nbproject/private/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/
*/build/

### VS Code ###
.vscode/

### project
*.gradle/
!/*/*/out
/*/out
!/*/*/bin
**/bin
~

compose/mysqlGR/data1/**
compose/mysqlGR/data2/**
compose/mysqlGR/data3/**

compose/mysqlGR2/data1/**
compose/mysqlGR2/data2/**
compose/mysqlGR2/data3/**

compose/pulsar/data/*
compose/pulsar/temp/*

compose/kafka_build_img/data/*
compose/kafka_kraft/data/*
compose/kafka_zk/data/*

compose/hadoop/data
compose/minio/data

compose/mediawiki/conf/extensions/*
simple/dockerweb/build/*
docker/simple/dockerweb/build/*


compose/doris/image/*.gz
compose/doris/image/apache-doris-2.1.2-bin-x64
compose/doris/office/data
compose/doris/office-custom/data
compose/doris/data
compose/doris/img/temp

compose/kafka_native/data

compose/kafka-flink-mysql/data
compose/kafka-flink-mysql/lib

compose/jenkins/data