HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
*/nbproject/private/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/
*/build/

### VS Code ###
.vscode/

### project
*.gradle/
!/*/*/out
/*/out
!/*/*/bin
**/bin
~

compose/mysqlGR/data1/**
compose/mysqlGR/data2/**
compose/mysqlGR/data3/**

compose/mysqlGR2/data1/**
compose/mysqlGR2/data2/**
compose/mysqlGR2/data3/**

compose/pulsar/data/*
compose/pulsar/temp/*

compose/kafka/data/*
compose/kafka3/data/*
compose/kafka2/data/*