[mysqld]
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"

user=mysql
server_id=1
gtid_mode=ON
enforce_gtid_consistency=ON

binlog_checksum=NONE

log_bin=binlog
log_slave_updates=ON
binlog_format=ROW
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction=XXHASH64

plugin_load_add='group_replication.so'
group_replication_group_name="aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
group_replication_start_on_boot=off
#group_replication_local_address= "mysql1:33061"
group_replication_group_seeds= "mysql1:33061,mysql2:33061,mysql3:33061"
group_replication_bootstrap_group=off
# 单主还是多主模式
loose_group_replication_single_primary_mode=off
loose_group_replication_enforce_update_everywhere_checks='ON'